<!-- <nav class="navbar navbar-expand-lg navbar-warning bg-dark ">
    <a class="navbar-brand" href="#">TalentHunt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                    <a class="nav-link" routerLink="/"> </a>
                  </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="addreq"> AddRequirements </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/updatereq"> UpdateRequirement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/gettall"> GetAllRequirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/candidateinfo"> CandidateInfo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/schedule"> ScheduleInterview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gettallcandi"> GetAllCandidates</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->


  <link rel="stylesheet" type="text/css" href="https://ThanushreeCU.github.io/TY_TechElevate_TrainingMaintenance_Thanushree/ty-styles-form.css">
  <label for="title" class="ty-font heading">Add Candidates</label>
  <div class="card col-lg-4 col-md-4 offset-4 mt-5">
  <div class="card-body col-lg-10 col-md-10">
            <form action="" #reqform='ngForm' (ngSubmit)='candidateInfo(reqform)' class="form-container">
                <div class="form-row mt-3">
                     <div class="form-group col-md-6 ty-font user-input-wrp"> <br/>
                        <input type="text" name='candidateName' #candidateName='ngModel' ngModel class="form-control"
                            placeholder="Enter candidateName  Here">
                    </div>
                     <div class="form-group col-md-6 ty-font left user-input-wrp"> <br/>
                        <input type="email" name='email' #email='ngModel' ngModel class="form-control"
                            placeholder="Enter email  Here">
                    </div>
                </div>
                <div class="form-row mt-3">
                     <div class="form-group col-md-6 ty-font user-input-wrp"> <br/>
                        <input type="number" name='candidateNo' #candidateNo='ngModel' ngModel class="form-control"
                            placeholder="Enter  candidateNo Here">
                    </div>
                     <div class="form-group col-md-6 ty-font left user-input-wrp"> <br/>
                        <input type="text" name='govtId' #govtId='ngModel' ngModel class="form-control"
                            placeholder="Enter  govtId Here">
                    </div>
                </div>
                <div class="form-row mt-3">
                     <div class="form-group col-md-6 ty-font user-input-wrp"> <br/>
                        <input type="text" name='relocate' #relocate='ngModel' ngModel class="form-control"
                            placeholder="Enter recolate Here">
                    </div>
                     <div class="form-group col-md-6 ty-font left user-input-wrp"> <br/>
                        <input type="text" name='candidateType' #candidateType='ngModel' ngModel class="form-control"
                            placeholder="Enter Fresher Or Experience  Here">
                    </div>
                </div>
                <div class="form-row mt-3">
                     <div class="form-group col-md-6 ty-font user-input-wrp"> <br/>
                        <input type="text" name='yearOfPassing' #yearOfPassing='ngModel' ngModel class="form-control"
                            placeholder="Enter yearOfPassing  Here">
                    </div>
                
                     <div class="form-group col-md-6 ty-font  left user-input-wrp"> <br/>
                        <input type="number" name='percentage' #percentage='ngModel' ngModel class="form-control"
                            placeholder="Enter percentage Here">
                    </div>
                </div>
                
                <div class="form-row mt-3">
                     <div class="form-group col-md-6 ty-font user-input-wrp"> <br/>
                        <input type="text" name='currentDesignation' #currentDesignation='ngModel' ngModel class="form-control"
                            placeholder="Enter currentDesignation  Here">
                    </div>
                     <div class="form-group col-md-6 ty-font left  user-input-wrp"> <br/>
                        <input type="number" name='yearOfExperience' #yearOfExperience='ngModel' ngModel class="form-control"
                            placeholder="Enter yearOfExperience Here">
                    </div>
                </div>
                <div class="form-row mt-3">
                     <div class="form-group col-md-6 ty-font user-input-wrp"> <br/>
                        <input type="number" name='noticePeriod' #noticePeriod='ngModel' ngModel class="form-control"
                            placeholder="Enter noticePeriod  Here">
                    </div>
                     <div class="form-group col-md-6 ty-font left user-input-wrp"> <br/>
                        <input type="number" name='currentCtc' #currentCtc='ngModel' ngModel class="form-control"
                            placeholder="Enter currentCtc  Here">
                    </div>
                </div>
                <div class="form-row mt-3">
                     <div class="form-group col-md-6 ty-font user-input-wrp"> <br/>
                        <input type="number" name='expectedCtc' #expectedCtc='ngModel' ngModel class="form-control"
                            placeholder="Enter expectedCtc  Here">
                    </div>
                </div>

                <div class="float-right ty-create-button">
                    <button type="submit" class="btn btn-outline-primary ty-font">AddCandidates</button></div>
                  <div class="float-right ty-reset-button">
                    <button type="submit"  class="btn btn-outline-secondary ty-font">Reset</button></div>
                <div class="form-group">
                    <h5 style="color:green;text-align: center;">{{msg}}</h5>
                </div>
            </form>
        </div>
</div>
